body {
    color: blue
}

#maincontainer {
    display: flex;
    margin-top: 30px;
    width: 100vw;

}

header {
    text-align: center;


}

.card {


}

#secondIngredientScreen {
    display: none;
}

#cardRandom {


}

#cardIngredients {


}

#funFact {


}

#btn-random {


}

#btn-ingredient {


}

#btn-funfact {


}

#funFactHeader {
    text-align: center;

}